doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', type='text/css', href='/modules/sweetalert2/dist/sweetalert2.min.css')
  body
    script(src='/js/auth.js')
    block content
